* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: .5s;
    position: relative;
    left: 0;
}

nav {
    background-color: #111;
    justify-content: space-between;
    display: flex;
    align-items: center;

    & img {
        height: 15vh;
        filter: drop-shadow(0px 0px 3px #ffffff);
    }

    & img:hover {
        transform: scale(1.1);
        filter: drop-shadow(0px 0px 10px #ffffff);

    }

    & .nav-bar {
        margin: 2rem;

        & a {
            color: white;
            padding: 1rem;
            margin: .5rem;
            background-color: #003b4d;
            border-radius: 5rem;
            font-weight: 700;
            border: none;
        }

        & a:hover {
            background-color: aqua;
            color: rgb(60, 60, 60);
            filter: drop-shadow(0px 0px 15px #52e2ff);
        }
    }

}

body,
html {
    background-color: #333;
    overflow-x: hidden;
}

.banner {
    background-image: url(imagens/caminhão.jpeg);
    justify-content: center;
    align-items: center;
    height: 70vh;
    display: flex;
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);
    text-align: center;


    & .name {
        & h1 {
            font-size: 4rem;
            background-color: #333333ad;
            color: white;
            padding: 1rem;
            border-radius: 5rem;
        }

        & h2 {
            background-color: #222222b6;
            padding: 1rem, 2rem;
            display: flex;
            justify-content: center;
            border-radius: 5rem;
            color: white;
            margin-top: .5rem;
            opacity: 0;
            font-size: 2rem;
            transform: translateY(-3rem) scale(0);
            z-index: -1;
        }
    }
}

.banner:hover {
    filter: grayscale(0%);

    & .name {
        & h1 {
            color: rgb(8, 226, 255);
            text-shadow: -1px -2px 2px rgba(0, 0, 0, 0.6);
            font-size: 5rem;
        }

        & h2 {
            opacity: 1;
            transform: translateY(0rem) scale(1);

        }
    }
}

.carrosel {
    & span {
        font-size: 2.5rem;
        color: white;
        font-weight: 700;
        text-align: center;
        display: block;
        margin: 1rem;
    }

    & .marcas {
        display: flex;
        margin: .5rem;
        animation: carrosel 35s linear infinite;


        & img {
            height: 10rem;
            margin: .3rem;
            border-radius: 30%;
        }
    }
}

.lojas-desktop {

    & .title {
        text-align: center;
        margin: 5rem 0;
        padding: 1rem;
        font-size: 3rem;
        color: white;
        font-weight: 700;
        background-color: #000;
        display: block;
        width: 100vw;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }

    & .loja1 {
        margin-bottom: 3rem;
    }

    & .loja1,
    .loja2 {
        display: flex;
        justify-content: space-around;

        & .esquerda {
            justify-content: center;
            display: block;

            & p {
                margin-top: 3rem;
                font-size: 3rem;
                font-weight: 700;
                color: white;
            }

            & span {
                font-size: 2rem;
                color: #999;
            }

            & .btn {

                margin-top: 10rem;

                & button {
                    font-size: 2.5rem;
                    margin: .5rem;
                    background-color: aqua;
                    border: none;
                    padding: 2rem 3.5rem;
                    border-radius: 3rem;
                    margin-top: 2rem;
                    display: block;
                    font-weight: 700;
                }
            }

        }

        & img {
            height: 100vh;
            display: block;
            border-radius: 1rem;
        }
    }
}

.lojas-mobile {
    display: none;

    & .title {
        text-align: center;
        margin: 5rem 0;
        padding: 1rem;
        font-size: 3rem;
        color: white;
        font-weight: 700;
        background-color: #000;
        display: block;
        width: 100vw;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }

    & .loja1 {
        margin-bottom: 3rem;
    }

    &.loja2 {
        margin-top: 5rem;
    }

    & .loja1,
    .loja2 {
        display: block;
        justify-content: space-around;

        & .esquerda {
            justify-content: center;
            display: block;

            & p {
                margin-top: 3rem;
                font-size: 3rem;
                font-weight: 700;
                color: white;
            }

            & span {
                font-size: 2rem;
                color: #999;
            }
        }

        & .btn {

            margin-top: 1rem;

            & button {
                font-size: 1.8rem;
                margin: .5rem auto;
                background-color: aqua;
                border: none;
                padding: 2rem 3.5rem;
                border-radius: 3rem;
                margin-top: 2rem;
                display: block;
                font-weight: 700;
            }
        }

    }

    & img {
        height: 100vh;
        display: block;
        border-radius: 1rem;
    }
}

.lojas-desktop .loja1 .btn button:hover,
.lojas-desktop .loja2 .btn button:hover,
.lojas-mobile .loja1 .btn button:hover,
.lojas-mobile .loja2 .btn button:hover {
    background-color: rgb(0, 81, 255);
    transform: scale(1.1);
    color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.ofertas {
    display: block;

    & span {
        display: block;
        width: 100vw;
        font-size: 3rem;
        text-align: center;
        color: white;
        font-weight: 700;
        background-color: #000;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        padding: 1rem;
        margin-top: 3rem;
    }

    & .divisor {
        justify-content: center;
        display: flex;
        align-items: end;
        margin-bottom: 4rem;

        & .inputs {
            & label {
                display: block;
                font-size: 2rem;
                color: white;
                font-weight: 600;
                margin-top: 1rem;
                margin-bottom: .5rem;
                text-align: center;
            }

            & input {
                display: block;
                font-size: 1.5rem;
                padding: 1rem;
                width: 35vw;
                background-color: #222;
                border: none;
                border-radius: 1rem;
                color: white;
            }
        }

        & button {
            padding: 1rem 4rem;
            font-size: 1.5rem;
            margin: 0 1rem;
            height: fit-content;
            margin-top: 1rem;
            border-radius: 1rem;
            align-items: center;
            display: flex;
            border: none;
            cursor: pointer;
            background-color: #25d366;
            color: #00443c;
        }
    }
}

.ofertas .divisor button:hover {
    background-color: #128c7e;
    color: #dcf8c6;
}


footer {
    & .footer1 {
        background-color: #111;
        justify-content: center;
        display: flex;
        padding: 1rem;
        align-items: center;


        & img {
            height: 3rem;
            margin-right: 1rem;
        }

        & .infos {
            color: rgb(200, 200, 200);
            line-height: 1.5rem;
            font-size: 1rem;
            margin-left: 1rem;
        }
    }

    & .footer2 {
        background-color: #000;
        padding: .5rem;

        & p {
            color: rgb(150, 150, 150);
        }
    }
}

.chegar-desktop {
    display: block;

    & .loja1,
    .loja2 {
        & .title {
            text-align: center;
            margin: 1rem 0;
            padding: 1rem;
            font-size: 3rem;
            color: white;
            font-weight: 700;
            background-color: #000;
            display: block;
            width: 100vw;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        }

        & .mapa {
            display: flex;

            & iframe {
                flex: 1;
                -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            }

            & .info {
                text-align: center;
                flex: 1;

                & .loja {
                    text-align: center;
                    margin: 1rem 0;
                    padding: 1rem;
                    font-size: 2rem;
                    color: white;
                    font-weight: 700;
                    background-color: #000;
                    display: block;
                    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);

                }

                & .vantagens {
                    font-size: 5rem;
                    color: white;
                    margin: 3rem;
                }

                & span {
                    display: block;
                    margin: 1rem;
                    color: white;
                    font-size: 2rem;
                }
            }
        }
    }

    & .conhecer {
        & p {
            text-align: center;
            margin: 1rem 0;
            padding: 1rem;
            font-size: 3rem;
            color: white;
            font-weight: 700;
            background-color: #000;
            display: block;
            width: 100vw;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        }
    }
}

.chegar-mobile {
    display: none;

    & .loja1,
    .loja2 {
        display: block;

        & .title {
            text-align: center;
            margin: 1rem 0;
            padding: 1rem;
            font-size: 2rem;
            color: white;
            font-weight: 700;
            background-color: #000;
            display: block;
            width: 100vw;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        }

        & .mapa {
            display: block;

            & iframe {
                -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                width: 90vw;
                margin: 0 auto;
                display: block;
            }

            & .info {
                text-align: center;
                flex: 1;

                & .loja {
                    text-align: center;
                    margin: 1rem 0;
                    padding: 1rem;
                    font-size: 2rem;
                    color: white;
                    font-weight: 700;
                    background-color: #000;
                    display: block;
                    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);

                }

                & .vantagens {
                    font-size: 3rem;
                    color: white;
                    margin: 1.5rem;
                }

                & span {
                    display: block;
                    margin: 1rem;
                    color: white;
                    font-size: 1.5rem;
                }
            }
        }
    }

    & .conhecer {
        & p {
            text-align: center;
            margin: 1rem 0;
            padding: 1rem;
            font-size: 3rem;
            color: white;
            font-weight: 700;
            background-color: #000;
            display: block;
            width: 100vw;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        }
    }
}

.cotacao {
    min-height: 80vh;

    & .title {
        text-align: center;
        margin: 1rem 0;
        padding: 1rem;
        font-size: 3rem;
        color: white;
        font-weight: 700;
        background-color: #000;
        display: block;
        width: 100vw;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    }

    & .cotacao-itens {
        width: 60vw;
        margin: 0 auto;


        & .itens-form {

            padding: 1rem 0;

            & input {
                width: 50%;
                padding: 1rem;
                font-size: 1.5rem;
                background-color: #222;
                border-radius: 1rem;
                border: none;
                border-bottom: 1px solid white;
                color: white;
                margin: .5rem;
            }

            & span {
                color: white;
                padding: .5rem;
                border-radius: 1rem;
                width: 1rem;
                height: 1rem;
                cursor: pointer;
            }
        }

        & .btns {
            display: flex;
            justify-content: space-around;

            & #btn-adicionar {
                width: 40%;
                padding: 1rem;
                font-size: 1.5rem;
                background-color: #4b4b4b;
                border-radius: 1rem;
                border: none;
                border-bottom: 1px solid white;
                color: white;
                margin: .5rem;
                cursor: pointer;
            }

            & #btn-finalizar {
                width: 50%;
                padding: 1rem;
                font-size: 1.5rem;
                background-color: #83fff5;
                border-radius: 1rem;
                border: none;
                border-bottom: 1px solid black;
                color: #000;
                margin: .5rem;
                cursor: pointer;
                font-weight: 700;
            }
        }
    }
}


@keyframes carrosel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* celular */

@media (max-width: 600px) {

    nav {
        display: block;

        & .logo {
            width: fit-content;
            margin: 0 auto;
        }

        & .nav-bar {
            display: flex;
            flex-wrap: wrap;

            & a {
                width: 30vw;
                margin: 1rem auto;
                text-align: center;
            }

            & a:last-child {
                width: 60vw;
            }
        }
    }

    .banner {
        filter: grayscale(0%);
        height: 40vh;

        & .name {
            & h1 {
                color: rgb(8, 226, 255);
                text-shadow: -1px -2px 2px rgba(0, 0, 0, 0.6);
                font-size: 2.5rem;
            }

            & h2 {
                font-size: 1.5rem;
                opacity: 1;
                padding: .5rem;
                transform: translateY(0rem) scale(1);
            }
        }
    }

    .banner:hover {
        & .name {
            & h1 {
                color: rgb(8, 226, 255);
                text-shadow: -1px -2px 2px rgba(0, 0, 0, 0.6);
                font-size: 2.5rem;
            }

            & h2 {
                font-size: 1.5rem;
                opacity: 1;
                padding: .5rem;
                transform: translateY(0rem) scale(1);
            }
        }
    }

    .carrosel {
        & span {
            font-size: 2rem;
        }

        & .marcas {
            animation: carrosel 15s linear infinite;

        }
    }

    .lojas-desktop {
        display: none;
    }

    .lojas-mobile {
        display: block;
    }

    .ofertas {

        & span {
            font-size: 2rem;
        }

        & .divisor {
            display: block;

            & .inputs {
                & input {
                    width: 80vw;
                    margin: 0 auto;
                }
            }

            & button {
                margin: 1rem auto;
                width: 50vw;
                display: block;
            }

        }



    }

    footer {
        & .footer1 {
            display: block;

            & .social {
                display: flex;
                justify-content: center;

                & img {
                    width: 3rem;
                    height: 3rem;
                }

            }

            & .infos {
                font-size: .8rem;
                margin-top: 1rem;
            }
        }
    }


    .chegar-desktop {
        display: none;
    }

    .chegar-mobile {
        display: block;
    }

    .cotacao {
        & .title {
            font-size: 2rem;
        }


        & .cotacao-itens {
            width: 90vw;

            & .itens-form {
                & input {
                    width: 90%;
                }
            }

            & .btns{
                & #btn-adicionar, #btn-finalizar{
                    font-size: 1rem;
                }
            }
        }

    }

}